<div class="containerButton"></div>
<div class="startButton">
  <button mat-button color="primary" (click)="startGame()">Creer une nouvelle partie.</button>
  <button mat-button color="primary" *ngIf="!fightOn" (click)="fight()">Lancer le combat.</button>
</div>


<div *ngIf="newGame !== undefined" class="cardsContainer">
  <div *ngFor="let hero of newGame.heroes" class="cardContainer">
      <div class="backgroundContainer"  [style.background-color]="hero.color">
        <div class="containerPvRod"><div class="PvRod"  [style.height]="hero.PvRod()"></div></div>
        <div class="containerManaRod"><div class="ManaRod"  [style.height]="hero.ManaRod()"></div></div>

        <img [src]="hero.image">
        <div class="nameHero"><h1>{{hero.name}}</h1><h3>level : {{hero.level}}</h3></div>
        <div class="stats">
          <table>
            <thead>
            <tr>
              <th >PV</th>
              <th >Power</th>
              <th >Defense</th>
              <th >Mana</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>{{hero.hitPoint}}</td>
              <td>{{hero.damageMin}} ~ {{hero.damageMax}}</td>
              <td>{{hero.defense}}</td>
              <td>{{hero.mana}}</td>
            </tr>
            </tbody>
            <thead>
            <tr>
              <th >Exp</th>
              <th >Experience necessaire</th>
              <th >Total experience</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>{{hero.experience}}</td>
              <td>{{hero.experienceToLevelUp}}</td>
              <td>{{hero.totalExperience}}</td>
            </tr>
            </tbody>
          </table>
        </div>
    </div>
  </div>
</div>


<ul>
  <li *ngFor="let log of journalFight.logs">{{log}}</li>
</ul>
