
<div class=background>
  <div class="cadreInfo">
    <div class="moicadre">
      <img class="moihey" src="../../../assets/images/cv/moihey.jpg">
      <img class="moi" src="../../../assets/images/cv/moi.jpg">
    </div>
    <div class="cadreText">
      <div class="salut">
        Salut
        <span>
					</span>
      </div>
      Je suis
      <div class="cadreTextNom">
        {{usercv.firstName}} {{usercv.lastName}}
      </div>
      <ul class="coordonné">
        <li> Age :
          <Span> {{usercv.age}} </Span>
        </li>
        <li> Adresse :
          <Span> {{usercv.adresse}} </Span>
        </li>
        <li> E-mail :
          <Span> {{usercv.email}} </Span>
        </li>
        <li> Télèphone :
          <Span> {{usercv.number}}</Span>
        </li>
        <li> Permis :
          <Span> {{usercv.permis}} </Span>
        </li>
      </ul>
    </div>

  </div>
  <div style="text-align: center" class="reseauxsociaux">

    <a href="mailto:{{usercv.email}}">
      <button mat-raised-button >
        <i class="fa fa-envelope" aria-hidden="true"></i>
      </button>
    </a>
    <a href="{{usercv.linkedin}}/">
      <button mat-raised-button >
      <i class="fa-brands fa-linkedin" aria-hidden="true"></i>
      </button>
    </a>
    <a href="{{usercv.instagram}}">
      <button mat-raised-button >
        <i class="fa-brands fa-instagram" aria-hidden="true"></i>
      </button>
    </a>

  </div>
  <div class="downloadCv">
    <a [href]="usercv.dowloadableCv" download="CV-JART-2024.pdf">
      <button mat-raised-button color="primary">Telecharger mon CV</button>
    </a>
    <!-- <img src="/asset/image/yey.gif"></img>  -->
    <a [href]="usercv.dowloadableRPG" download="newbie.rar">
      <button mat-raised-button color="primary">Telecharger RPG</button>
    </a>
  </div>

  <div class="presentation">
    <h4 *ngFor="let motivation of usercv.motivationLetter">{{motivation}}</h4>

  </div>


</div>
