
.my-active {
  text-decoration: underline;
}

.portfolio {
  display: none;
}
.navbar-nav{
  display: grid;
  width: 100%;
  grid-auto-flow: column;
  justify-content: center;
  gap: 1rem;
}
.containerPortfolio {
  position: relative;
}

.buttonPortfolio:hover, .portfolio button:hover {
  background-color: #663ab7;
  color: white;
  transform: scale(1.1, 1.1);
}

.containerPortfolio:hover {

  .portfolio {
    display: grid;
    position: absolute;
    width: max-content;
    color: white;
    padding: 0.5rem;
    margin-left: -0.5rem;
    gap: 0.5rem;
    z-index: 5;

    a {
      display: grid;
      justify-content: center;
      text-decoration: none;

    }
  }
}
