
.black {
  background-color: #232323;
}

.white {
  background-color: white;
}

.clicked {
  box-shadow: inset 0px 0px 10px 10px #2b5dad;
}

.container {
  width: 95vw;
  height: 95vh;
  display: grid;
  justify-content: center;
  align-content: center;
}

.containerChess{
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(8, minmax(15%, 4vw));
  grid-template-rows: repeat(8,minmax(4vw, 3.5vh));

  div{
    display: grid;
    justify-content: center;
    align-content: center;
  }
  img {
    width: 90%;
    height: 90%;
    margin: auto;
    object-fit: contain;
  }

}

@media screen and (max-width: 1000px) {
  .containerChess{
    grid-template-columns: repeat(8, minmax(37%, 4vw));
    grid-template-rows: repeat(8,minmax(13vw, 3.5vh));

  }
}

